@model List<CategoryBooksViewModel>
@{
    ViewBag.Title = "Books - Library System";
}

<h1>Books</h1>
@using (Html.BeginForm("Search", "Home", new { area = "" }, FormMethod.Get, null))
{
    <div class="form-group search-panel">
        <label for="searchInput" class="sr-only">Search</label>
        <input type="submit" class="btn btn-primary pull-right" value="Search" />
        <input type="text" class="form-control pull-right" name="search" id="searchInput" placeholder="Search by book title/author...">
    </div>
}

@{
    int reminder = Model.Count % 3;
    int rows = Model.Count / 3;
    int current = 0;
}

@for (int i = 0; i < rows; i++)
{
    <div class="row">
        @for (int j = 0; j < 3; j++)
        {
            <div class="col-sm-4">
                @Html.Partial("_CategoryBooks",Model[current])
            </div>
                current++;
        }
    </div>
}

@if (reminder > 0)
{
    <div class="row">
        @for (int i = 0; i < reminder; i++)
        {
            <div class="col-sm-4">
                @Html.Partial("_CategoryBooks", Model[current])
            </div>
                current++;
        }
    </div>
}