@if (Model != null)
{

    if (Model.IndexOf("http://") >= 0)
    {
        <a href="@Model" target="_blank">@Model</a>
    }
    else
    {
        string url = "http://" + Model;
        <a href="@url" target="_blank">@Model</a>
    }
}

